/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */

/* reset */
/* {
    margin: 0;
    padding: 0;
} */

/* body{
    font-family: "Roboto", sans-serif;
    background-color: #fcfcfe;
} */

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

/* header */

/* .navbarlist{
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbarlist li{
    margin: 20px;
}

header div{ 
    margin-left: 30px;
}

.rrss{
    width: 30px;
    margin: 10px;
}

.miau-title{
    display: block;
    text-align: center;
}

.miau-title img{
    width: 250px;
} */

/* main */

/* .section-1{
    background-image: url(../img/background-1.jpg);
    width: 100%;
    height: calc(100vh - 200.81px);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section-1 *{
    position: relative;
    top: 40%;
}

.section-1 h1{
    margin-bottom: 10px;
}

.link-productos{
    border: 2px solid black;
    padding: 5px;
    background-color: #ffffffad;
} */

/* .product-index{
    width: 300px;
} */

/* .product-index:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
} */

/* .product-index-container{
    overflow: hidden;
} */

/* .precio{
    padding: 5px;
} */

/* .precio:hover{
    background: #dcd9d9;
} */

/* .section-2{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

/* .div-products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
} */

/* .productos{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .crema{
    font-weight: bold;
} */

/* .div-link-productos{
    text-align: center;
} */

/* .section-3{
    background-image: url(../img/background-2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px;
}

.section-3 h2{
    margin-bottom: 20px;
} */

/* .carousel-inner div p{
    padding: 80px;
    font-weight: 400;
    font-size: large;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-next {
    right: -50px;
} */

/* Footer */
/* footer{
    padding: 50px;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

footer *{
    margin: 20px;
} */

/* .miau-footer{
    width: 130px;
} */

/* nosotros */

.div-nosotros{
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    grid-template-areas: 
    "ceo desc-ceo desc-ceo"
    "desc-team desc-team team"
    ;
    align-items: center;
    margin-top: 40px;
}

.img-ceo{
    width: 300px;
}

.img-team{
    height: 300px;
}

.div-ceo{
    grid-area: ceo;
    justify-self: end;
}

.div-ceo-desc{
    grid-area: desc-ceo;
    font-style: italic;
    justify-self: start;   
}

.div-ceo-desc p::selection, .div-equipo-desc p::selection{
    background-color: #fbb1cc72;
}

.div-equipo{
    grid-area: team;
    justify-self: start;
}

.div-equipo-desc{
    grid-area: desc-team;
    justify-self: end;
}

.nosotros{
    text-align: center;
}

.nosotros h1{
    margin-bottom: 30px;
}

.nosotros div p{
    margin-left: 100px;
    margin-right: 100px;
}


/* Contacto */

/* .contacto{
    text-align: center;
} */

/* .contacto .section-2 h1{
    margin-bottom: 30px;
} */

/* .mapa-contacto{
    margin-top: 50px;
} */

/* media queries */

@media screen and (max-width:1050px) {
    .div-nosotros{
        grid-auto-rows: 250px;
        grid-template-columns: repeat(5, 1fr);
        row-gap: 100px;
        grid-template-areas: 
        "ceo ceo desc-ceo desc-ceo desc-ceo"
        "desc-team desc-team desc-team team team"
        ;
        align-items: center;
        margin-top: 40px;
    }
    .nosotros div p{
        margin-left: 50px;
        margin-right: 50px;
    }
    .img-team{
        height: 250px;
    }

    .carousel-inner div p{
        padding: 70px;
    }
}

@media screen and (max-width:970px) {
    .div-nosotros{
        grid-auto-rows: 230px;
        grid-template-columns: 1fr;
        row-gap: 0px;
        grid-template-areas: 
        "ceo"
        "desc-ceo"
        "team"
        "desc-team"
        ;
        align-items: center;
        margin-top: 40px;
    }
    .nosotros div p{
        margin-left: 50px;
        margin-right: 50px;
    }
    .div-ceo{
        grid-area: ceo;
        justify-self: center;
    }
    
    .div-ceo-desc{
        grid-area: desc-ceo;
        font-style: italic;
        justify-self: center;
    }
    
    .div-equipo{
        grid-area: team;
        justify-self: center;
    }
    
    .div-equipo-desc{
        grid-area: desc-team;
        justify-self: center;
    }
    .img-team{
        height: 250px;
    }
}

@media screen and (max-width:550px) {
    .carousel-inner div p{
        padding: 30px;
    }
}

@media screen and (max-width:420px) {
    .div-nosotros{
        grid-auto-rows: 230px;
        grid-template-columns: 1fr;
        row-gap: 0px;
        grid-template-areas: 
        "ceo"
        "desc-ceo"
        "team"
        "desc-team"
        ;
        align-items: center;
        margin-top: 40px;
    }
    .nosotros div p{
        margin-left: 50px;
        margin-right: 50px;
    }
    .div-ceo{
        grid-area: ceo;
        justify-self: center;
    }
    
    .div-ceo-desc{
        grid-area: desc-ceo;
        font-style: italic;
        justify-self: center;
    }
    
    .div-equipo{
        grid-area: team;
        justify-self: center;
    }
    
    .div-equipo-desc{
        grid-area: desc-team;
        justify-self: center;
    }
    .img-team{
        height: 200px;
    }
    
    .footer-queries li a, .footer-queries li{
        margin: 0;
        margin-bottom: 10px;
    }
}
